body {
  margin: 0;
  font-family: "Amiko";
}

.topnav {
  z-index: 1000 !important;
  overflow: hidden;
  background-color: #031424;
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: solid #8eaebd 5px;
}

.topnav a {
  display: flex;
  justify-content: space-evenly;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #6b93a2;
  color: white;
}

.active {
  background-color: #8eaebd;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#navbar {
  background-color: #062441;
  color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  border-bottom: solid 3px #8eaebd;
}

.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.demo > li {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
#wrapper {
  margin-top: 95px;
}

.flex-container-home {
  z-index: 100;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.row {
  width: 100%;
  margin: 10%;
  z-index: 5;
}
.flex-item {
  background-color: tomato;
  padding: 5px;
  width: 20px;
  height: 20px;
  margin: 10px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.odd {
  background-color: #cf6766;
  height: 100% !important;
}

.even {
  background-color: #30415d;
  height: 100% !important;
}

h1 {
  color: white;
  margin-top: 100px;
  text-align: center;
}
h2 {
  color: white;
  margin-top: 100px;
}

#name {
  font-size: 60px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

#slogan {
  font-size: 22px;
  color: white;
  text-align: center;
}

#slogan1 {
  margin-top: 30px;
  font-size: 20px;
  color: white;
  text-align: center;

  font-style: italic;
}

@media only screen and (max-width: 600px) {
  #name {
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  #slogan {
    font-size: 12px;
  }

  #slogan1 {
    margin-top: 20px;
    font-size: 11px;
  }
}

#logo {
  width: 100%;
  max-height: 400px;
}

#logoContainer {
  max-width: 600px;
  margin: auto;
}

#home-wrapper {
  position: absolute;
  color: white;

  text-align: center;
  position: relative;
  height: 100%;
  padding-top: 20%;
}

.flex-container {
  padding: 20% 5% 0 5%;
  display: flex;
  justify-content: space-around;
}

.flex-container > div {
  padding: 10px;
  width: 100px;
  margin: 10px;
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 75px;
}

.news > div {
  background-color: #30415d;
  border-radius: 8px;
  border: solid #8eaebd 5px;
}

#right {
  border-left: solid #8eaebd 5px;
  padding: 20px;
  height: inherit;
}

#left {
  border-right: solid #8eaebd 5px;
  padding: 20px;
  height: inherit;
}

.icon {
  font-size: 50px;
  color: white;
  padding-bottom: 5px !important;
}

#heading {
  font-size: 30px;
  text-align: center;
}

#heading-news {
  font-size: 25px;
}

#newsContnet {
  padding: 20px;
  font-size: 20px;
  color: white;
}

#newsImg {
  height: 200px;
  width: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  border-radius: 5px 5px 0 0;
}

a {
  cursor: pointer;
}

#title {
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
}

#postcode {
  text-align: center;
}

#heading-contact {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

#footer {
  background-color: #384b6b;
  height: 100px;
  width: 100%;
  bottom: 0px;
  color: white;
  text-align: center;
  padding-top: 10px;
}

#systemsText {
  font-size: 20px;
  line-height: 25px;
  color: white;
  text-align: justify;
}

@media only screen and (max-width: 900px) {
  #systemsText {
    font-size: 15px;
    line-height: 20px;
    color: white;
  }
}

.lds-grid {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.newsItem {
  float: left;
  width: 45%;
  margin: 10px;
  background-color: #8eaebd;
  border-radius: 5px;
  border: solid #8eaebd 5px;
  height: 500px;
}

.contactItem {
  float: left;
  width: 45%;
  margin: 10px;
  border-radius: 5px;
  height: 500px;
}

#newsWrapper {
  max-width: 1000px;
  margin: auto;
}

@media only screen and (max-width: 950px) {
  #heading-news {
    font-size: 20px;
  }

  #newsContnet {
    font-size: 15px;
  }

  .newsItem {
    width: 100%;
    height: 350px;
  }

  .contactItem {
    width: 100%;
    height: 350px;
  }
}

@media only screen and (max-width: 500px) {
  #heading-news {
    font-size: 15px;
  }

  #newsContnet {
    font-size: 10px;
  }
}

#contactIcon {
  margin-left: 25%;
}
